<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button routerLink="/home" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="formData">{{formData.author}} {{formData.dateCreated | date}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" *ngIf="formData">
    <ion-list>
        <ion-list-header>
            <ion-label>Note</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>{{formData.note}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>