<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="archive"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Service-Check</ion-title>

        <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

</ion-content>