<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Document-Archive</ion-title>

        <ion-buttons slot="end">
            {{user}}
        </ion-buttons>
        <!-- <ion-buttons slot="primary">
            <ion-button>
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let doc of privateDocs">
            <ion-item>
                <ion-label>{{doc.title}}</ion-label>
                <ion-label>{{doc.dateCreated | date}}</ion-label>
                <ion-button fill="outline" slot="end" routerDirection="forward" [routerLink]="'/view-document/'+doc._id">Ansehen</ion-button>
            </ion-item>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            Author: {{doc.author}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>