<ion-content class="ion-padding">
    <div class="aligner">
        <div class="aligner-item">
            <h1 class="brand">
                <ion-icon name="cloud-offline"></ion-icon><br>Offline First Template
            </h1>

            <form [formGroup]="loginForm" id="loginForm">
                <ion-item class="ion-no-padding dark-bg">
                    <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                    <ion-icon color="medium" slot="end" name="person-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('username')" class="fadeInWarn" color="tertiary">
                    Please enter your username
                </ion-note>

                <ion-item class="ion-no-padding dark-bg">
                    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('password')" class="fadeInWarn" color="tertiary">
                    Please enter your password
                </ion-note>

                <ion-button expand="block" color="primary" fill="solid" class="ion-margin-top" type="submit"
                    (click)="login()">
                    Log In
                </ion-button>
                <ion-note *ngIf="errMessage" class="fadeInWarn" color="tertiary">
                    {{errMessage}}
                </ion-note>
            </form>

            <hr class="hr-text" data-content="New here?" />

            <ion-button color="secondary" expand="block" fill="outline" type="button" (click)="openRegisterPage()">
                Create an Account
            </ion-button>

            <div class="ion-text-center ion-padding">
                <a [routerLink]="['/forgot-pwd']" class="forgot-pwd">Forgot password?</a>
            </div>
        </div>
    </div>
</ion-content>