<ion-content class="ion-padding">
    <div class="aligner">
        <div class="aligner-item">
            <h1 class="brand">
                <ion-icon name="cloud-offline"></ion-icon><br>Offline First Template
            </h1>

            <form [formGroup]="registerForm" id="registerForm">
                <ion-item [ngClass]="{error_warn : hasFormError('username')}">
                    <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                    <ion-icon color="medium" slot="end" name="person-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('username')" class="fadeInWarn" color="danger">
                    Please select an username
                </ion-note>

                <ion-item [ngClass]="{error_warn : hasFormError('email')}">
                    <ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
                    <ion-icon color="medium" slot="end" name="mail-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('email')" class="fadeInWarn" color="danger">
                    Please enter your email
                </ion-note>

                <ion-item [ngClass]="{error_warn : hasFormError('password')}">
                    <ion-input type="text" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('password')" class="fadeInWarn" color="danger">
                    Please select a password
                </ion-note>

                <ion-item [ngClass]="{error_warn : hasFormError('confirmPassword')}">
                    <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm password">
                    </ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('confirmPassword')" class="fadeInWarn" color="danger">
                    Please confirm your password
                </ion-note>

                <ion-item>
                    <ion-checkbox checked="false" formControlName="isAdmin" color="primary" slot="start"></ion-checkbox>
                    <ion-label>Admin</ion-label>
                </ion-item>

                <ion-button expand="block" color="primary" fill="solid" class="login-button" type="submit"
                    (click)="createAccount()">
                    Register
                </ion-button>
                <ion-note *ngIf="errMessage" class="fadeInWarn" color="danger">
                    {{errMessage}}
                </ion-note>
            </form>

            <hr class="hr-text" data-content="Already have an account?" />

            <ion-button color="secondary" expand="block" fill="outline" defaultHref="/login">
                Login
            </ion-button>
        </div>
    </div>
</ion-content>

<p class="submit-warning" *ngIf="!registerForm.valid">You must fill out all fields above correctly before you can create
    your account.</p>