<ion-content class="ion-padding">
    <div class="aligner">
        <div class="aligner-item">
            <h1 class="brand">
                <ion-icon name="cloud-offline"></ion-icon><br>Offline First Template
            </h1>

            <form [formGroup]="registerForm" id="registerForm">
                <ion-item [ngClass]="{error_warn : hasFormError('username')}">
                    <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                    <ion-icon color="medium" slot="end" name="person-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('username')" class="fadeInWarn" color="tertiary">
                    Please select an username
                </ion-note>

                <ion-item [ngClass]="{error_warn : hasFormError('email')}">
                    <ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
                    <ion-icon color="medium" slot="end" name="mail-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('email')" class="fadeInWarn" color="tertiary">
                    Please enter a valid e-mail
                </ion-note>

                <ion-item [ngClass]="{error_warn : hasFormError('password')}">
                    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('password')" class="fadeInWarn" color="tertiary">
                    Password must be at least 6 characters long.
                </ion-note>

                <ion-item *ngIf="f['password'].dirty" class="fadeIn"
                    [ngClass]="{error_warn : hasFormError('confirmPassword')}">
                    <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm password">
                    </ion-input>
                    <ion-icon color="medium" slot="end" name="key"></ion-icon>
                </ion-item>
                <ion-note *ngIf="hasFormError('confirmPassword') && f['password'].dirty" class="fadeInWarn" color="tertiary">
                    Please confirm your password
                </ion-note>

                <ion-item>
                    <ion-label color="medium">Role</ion-label>
                    <ion-select formControlName="role" value="user" placeholder="User">
                        <ion-select-option value="user">User</ion-select-option>
                        <ion-select-option value="admin">Admin</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-note *ngIf="hasFormError('role')" class="fadeInWarn" color="tertiary">
                    Please choose your role
                </ion-note>

                <ion-button expand="block" color="primary" fill="solid" class="login-button" type="submit"
                    (click)="createAccount()">
                    Register
                </ion-button>
                <ion-note *ngIf="errMessage" class="fadeInWarnSubmit" color="tertiary">
                    <p>{{errMessage}}</p>
                </ion-note>
            </form>

            <hr class="hr-text" data-content="Already have an account?" />

            <ion-button color="secondary" expand="block" fill="outline" [routerLink]="['/login']">
                Login
            </ion-button>
        </div>
    </div>
</ion-content>