<ion-content>
    <div class="aligner">
        <div class="aligner-item">
            <h1 class="brand">
                <ion-icon name="cloud-offline"></ion-icon><br>Offline First Template
            </h1>

            <form [formGroup]="registerForm" id="registerForm">
                <ion-item class="ion-no-padding dark-bg">
                    <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                    <ion-icon color="medium" slot="end" name="person-outline"></ion-icon>
                </ion-item>
                <ion-note>
                    <error-messages [control]="registerForm.controls.username"></error-messages>
                </ion-note>

                <ion-item class="ion-no-padding dark-bg">
                    <ion-input type="text" formControlName="email" placeholder="E-mail"></ion-input>
                    <ion-icon color="medium" slot="end" name="mail-outline"></ion-icon>
                </ion-item>
                <ion-note>
                    <error-messages [control]="registerForm.controls.email"></error-messages>
                </ion-note>

                <ion-item class="ion-no-padding dark-bg">
                    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon color="medium" slot="end" name="key-outline"></ion-icon>
                </ion-item>
                <ion-note>
                    <error-messages [control]="registerForm.controls.password"></error-messages>
                </ion-note>

                <ion-item *ngIf="f['password'].dirty" class="fadeIn ion-no-padding dark-bg">
                    <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm password">
                    </ion-input>
                    <ion-icon color="medium" slot="end" name="key"></ion-icon>
                </ion-item>
                <ion-note *ngIf="f['password'].dirty">
                    <error-messages [control]="registerForm"></error-messages>
                </ion-note>

                <ion-item class="ion-no-padding dark-bg">
                    <ion-label color="medium">Role</ion-label>
                    <ion-select formControlName="role" value="user" placeholder="User">
                        <ion-select-option value="user">User</ion-select-option>
                        <ion-select-option value="admin">Admin</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-button [disabled]="!registerForm.valid" expand="block" color="primary" fill="solid"
                    class="ion-margin-top" type="submit" (click)="createAccount()">
                    Register
                </ion-button>
                <ion-note *ngIf="errMessage" class="fadeInWarnSubmit" color="tertiary">
                    <p>{{errMessage}}</p>
                </ion-note>
            </form>

            <hr class="hr-text" data-content="Already have an account?" />

            <ion-button color="secondary" expand="block" fill="outline" [routerLink]="['/login']">
                Login
            </ion-button>
        </div>
    </div>
</ion-content>