<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/archive">
                <ion-icon slot="icon-only" name="archive"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Test Form</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="logout()" class="logout-button">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <form [formGroup]="standardForm" id="standardForm">
        <ion-text>
            <h3>Basis Informationen</h3>
        </ion-text>
        <ion-item [ngClass]="{error_warn : hasFormError('datum')}">
            <ion-label slot="start" position="fixed">Datum</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY" formControlName="datum" doneText="Ok" cancelText="Zurück">
            </ion-datetime>
        </ion-item>
        <ion-note *ngIf="hasFormError('datum')" class="fadeInWarn" color="danger">
            ! Dieses Feld wird benötigt
        </ion-note>

        <ion-item [ngClass]="{error_warn : hasFormError('kunde')}">
            <ion-label slot="start" position="fixed">Kunde / Ort</ion-label>
            <ion-input clearInput type="text" formControlName="kunde"></ion-input>
        </ion-item>
        <ion-note *ngIf="hasFormError('kunde')" class="fadeInWarn" color="danger">
            ! Dieses Feld wird benötigt
        </ion-note>

        <ion-text>
            <h3>Bemerkung</h3>
        </ion-text>
        <ion-item>
            <ion-textarea placeholder="Bemerkungen..." formControlName="bemerkung">
            </ion-textarea>
        </ion-item>
    </form>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="standardForm">
    <ion-fab-button type="submit" (click)="saveForm()">
        <ion-icon name="send"></ion-icon>
    </ion-fab-button>
</ion-fab>