<ion-content class="ion-padding">
  <div class="aligner">
      <div class="aligner-item">
          <h1 class="brand">
              <ion-icon name="cloud-offline"></ion-icon><br>Offline First Template
          </h1>

          

          <hr class="hr-text"/>

          <ion-button color="secondary" expand="block" fill="outline" type="button" [routerLink]="['/login']" >
              Create an Account
          </ion-button>

          <div class="ion-text-center ion-padding">
              <a [routerLink]="['/forgot-pwd']" class="forgot-pwd">Forgot password?</a>
          </div>
      </div>
  </div>
</ion-content>