<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item class="username-input">
        <ion-icon color="medium" item-start name="person-outline"></ion-icon>
        <ion-input [(ngModel)]="username" type="text" placeholder="username"></ion-input>
    </ion-item>

    <ion-item class="password-input">
        <ion-icon color="medium" item-start name="key-outline"></ion-icon>
        <ion-input [(ngModel)]="password" type="password" placeholder="password"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" fill="solid" class="login-button" (click)="login()">
        <ion-icon slot="start" name="enter-outline"></ion-icon> Log In
    </ion-button>

    <p *ngIf="failedAttempt" color="warning" class="error-logging-in">
        Incorrect username or password!
    </p>

</ion-content>

<ion-footer>

    <ion-button color="dark" expand="block" fill="outline" (click)="openRegisterPage()" class="create-account-button">
        Create an Account
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
    </ion-button>

</ion-footer>