ion-spinner {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.async-pending {
  display: flex;
  align-items: center;
  height: 16px;
  font-weight: normal;
}

.errMsg {
  color: var(--ion-color-tertiary);
}
