<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/archive">
                <ion-icon slot="icon-only" name="archive"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Tab 1: Private Form</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="logout()" class="logout-button">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <form [formGroup]="standardForm" id="standardForm">
        <ion-text>
            <h3>Basic Form</h3>
        </ion-text>
        <ion-item [ngClass]="{error_warn : hasFormError('date')}">
            <ion-label slot="start" position="fixed">Date</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY" formControlName="date" doneText="Ok" cancelText="Zurück">
            </ion-datetime>
        </ion-item>
        <ion-note *ngIf="hasFormError('date')" class="fadeInWarn" color="danger">
            ! Please fill out this field
        </ion-note>

        <ion-item [ngClass]="{error_warn : hasFormError('title')}">
            <ion-label slot="start" position="fixed">Titel</ion-label>
            <ion-input clearInput type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-note *ngIf="hasFormError('title')" class="fadeInWarn" color="danger">
            ! Please fill out this field
        </ion-note>

        <ion-text>
            <h3>Note</h3>
        </ion-text>
        <ion-item>
            <ion-textarea placeholder="Notes..." formControlName="note">
            </ion-textarea>
        </ion-item>
    </form>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="standardForm">
    <ion-fab-button type="submit" (click)="saveForm()">
        <ion-icon name="send"></ion-icon>
    </ion-fab-button>
</ion-fab>