<ion-header translucent>
    <ion-toolbar>
        <ion-title>Private docs</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()" class="logout-button">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let doc of privateDocs">
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://api.adorable.io/avatars/100/{{doc.author}}">
                </ion-avatar>
                <h3>{{doc.author | titlecase}} @{{doc.dateCreated | date:'yyyy-mm-dd H:mm:ss'}}</h3>
            </ion-item>
            <ion-card-content>
                <div class="mega-text">
                    <p>{{doc.title}}</p>
                </div>
                <p class="message-content">{{doc.note}}</p>
            </ion-card-content>
            <div class="control-buttons">
                <ion-button routerDirection="forward" [routerLink]="'/view-document/'+doc._id" slot="start" fill="clear"
                    size="small">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                    <div>view</div>
                </ion-button>
            </div>
        </ion-card>
    </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="privateForm">
    <ion-fab-button (click)="openModal()">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>