<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons *ngIf="user" slot="secondary" collapse="true">
            <ion-button fill="clear" class="avatar-button">
                <ion-avatar slot="start" class="header-avatar">
                    <img src="https://api.adorable.io/avatars/100/{{user.user_id}}">
                </ion-avatar>
            </ion-button>
        </ion-buttons>
        <ion-title>Private docs</ion-title>
        <ion-buttons slot="primary" collapse="true">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons *ngIf="user" slot="end" collapse="true">
                <ion-button fill="clear" class="avatar-button">
                    <ion-avatar slot="start" class="header-avatar">
                        <img src="https://api.adorable.io/avatars/100/{{user.user_id}}">
                    </ion-avatar>
                </ion-button>
                <ion-button (click)="logout()">
                    <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title size="large">Private Docs</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-card *ngFor="let doc of privateDocs">
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://api.adorable.io/avatars/100/{{doc.author}}">
                </ion-avatar>
                <ion-label class="ion-text-wrap">{{doc.author | titlecase}}
                    @{{doc.dateUpdated | date:'yyyy-mm-dd H:mm:ss'}}</ion-label>
                <ion-button (click)="presentActionSheet(doc)" slot="end" fill="clear" size="small">
                    <ion-icon slot="icon-only" name=ellipsis-vertical></ion-icon>
                </ion-button>
            </ion-item>
            <ion-card-content>
                <div class="mega-text">
                    <p>{{doc.title}}</p>
                </div>
                <p class="message-content">{{doc.note}}</p>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="privateForm">
    <ion-fab-button (click)="openModal()">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>